:root {
  /* Responsive Font Sizes */
  --fs-xxs: clamp(0.75rem, 0.8vw, 0.875rem); /* ~12px → 14px */
  --fs-xs: clamp(0.875rem, 1vw, 1rem); /* ~14px → 16px */
  --fs-sm: clamp(1rem, 1.2vw, 1.25rem); /* ~16px → 20px */
  --fs-md: clamp(1.5rem, 2.5vw, 2rem); /* ~24px → 32px */
  --fs-lg: clamp(2rem, 4vw, 3rem); /* ~32px → 48px */
  --fs-xl: clamp(2.5rem, 5vw, 4rem); /* ~40px → 64px */
  --fs-xxl: clamp(3rem, 6vw, 6rem); /* ~48px → 96px */
  --fs-xxxl: clamp(4rem, 8vw, 8rem); /* ~64px → 128px */
  --fs-max: clamp(5rem, 10vw, 10rem); /* ~80px → 160px */

  /* Font Weight */
  --fw-thin: 100;
  --fw-normal: 400;
  --fw-semi: 600;
  --fw-bold: 700;
  --fw-black: 800;

  /*nav Colors  */
    --fc-title: #1b1b1b;
   /*nav Colors  */
   --fc-nav: #1b1b1b;

  /*hero Colors  */
   --fc-hero: #1b1b1b;
 

  /*Colors */
  --fc-primary: #2D336B;
  --fc-secondary: #7886C7;
  --fc-accent: #A9B5DF;

  --fc-txt: #FFF2F2;
  --fc-txt2: #d6d6d6;

  --fc-bg: #FFF2F2;
  --fc-bg2: #151515;
  --fc-bg3: #2a2a2a;
 
  --fc-op: rgba(21, 21, 21, 0.6);
   --fc-op2: rgba(184, 184, 184, 0.7);
}
