:root {
  /* Responsive Font Sizes */
  --fs-xxs: clamp(0.75rem, 0.8vw, 0.875rem);  /* ~12px → 14px */
  --fs-xs:  clamp(0.875rem, 1vw, 1rem);       /* ~14px → 16px */
  --fs-sm:  clamp(1rem, 1.2vw, 1.25rem);      /* ~16px → 20px */
  --fs-md:  clamp(1.5rem, 2.5vw, 2rem);       /* ~24px → 32px */
  --fs-lg:  clamp(2rem, 4vw, 3rem);           /* ~32px → 48px */
  --fs-xl:  clamp(2.5rem, 5vw, 4rem);         /* ~40px → 64px */
  --fs-xxl: clamp(3rem, 6vw, 6rem);           /* ~48px → 96px */
  --fs-xxxl: clamp(4rem, 8vw, 8rem);          /* ~64px → 128px */
  --fs-max: clamp(5rem, 10vw, 10rem);         /* ~80px → 160px */

  /* Font Weight */
  --fw-thin: 100;
  --fw-normal: 400;
  --fw-semi: 600;   /* Semi-Bold */
  --fw-bold: 700;
  --fw-black: 800;

  /* Font Colors */
  --fc-primary: #FFF6E0;
  --fc-secondary: #D8D9DA;
  --fc-txt: #61677A;
  --fc-accent: #faa916;
  
  /* Background Colors */
  --fc-bg: #272829;
  --fc-bg2: #1b1b1e;
  --fc-bg3: #D8D9DA;
}
